* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Yellowtail", cursive;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header {
  width: 100%;
  height: 100%;
}
header h1 {
  margin: 50px 0 30px 0;
  text-align: center;
  font-size: 40px;
}

header p {
  font-size: 20px;
  text-align: center;
}

.pads {
  background: rgb(4, 49, 65);
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0%;
}

.pads > div {
  height: 100px;
  width: 100px;
  flex: 1;
}

.pad1 {
  background: #5f423a;
}

.pad2 {
  background: #0c160d;
}
.pad3 {
  background: #3c0703;
}
.pad4 {
  background: #40b39d;
}
.pad5 {
  background: #c9ad71;
}

.pad6 {
  background: #56774a;
}
.visual {
  height: 100px;
  width: 100%;
}
.visual > div {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  bottom: 0%;
  left: 20%;
  bottom: 0%;
  z-index: -1;
}

@keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }
  50% {
    bottom: 50%;
    left: 50%;
  }
  100% {
    bottom: 0%;
    left: 80%;
  }
}

.visual > div {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  bottom: 0%;
}
